body {
    background-image: url("assets/images/business-2089534_1920.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}
header {
    background-color: #79387c;
    padding: 10px;
}
footer {
    background-color: #79387c;
    padding: 10px;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}
h1 {
    font-family: 'Sulphur Point', sans-serif;
    color: white;
}
h3 {
    font-family: 'Sulphur Point', sans-serif;
}
p {
    font-family: 'Source Sans Pro', sans-serif;
}
.card-body {
    background-color: rgba(220, 220, 220, 0.7);
}
.btn {
    background-color: #79387c;
    border-color: #79387c;
    color: white;
    transition: box-shadow .3s;
    float: left;
}
#modalButton {
    background-color: white;
    color: #79387c;
}
.btn:hover {
    box-shadow: 0 0 5px #79387c;
    color: white;
    font-size: 17px;
}
input[type=text]:focus, #jobOptions:focus, #experienceOptions:focus {
    box-shadow: 0 0 5px #79387c;
    border: 1px solid #79387c;
}
.quality {
    background-color: rgba(220, 220, 220, 0.7);
    border-color: rgb(220, 220, 220);
}
.map {
    background-color: rgba(220, 220, 220, 0.7);
    border-color: rgb(220, 220, 220);
}
#morebtn {
    margin-bottom: 80px;
}
#backbtn {
    margin-bottom: 80px;
}
#mapHeader {
    font-family: 'Sulphur Point', sans-serif;
    color: black;
}
#carouselHeading {
    font-family: 'Sulphur Point', sans-serif;
    color: black;
}
